input[type="radio"] {
  position: absolute;
}

.btn-radio {
  border-radius: 8px;
  font-weight: bold;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.btn-group-toggle .btn-light {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.btn-group-toggle .btn-dark {
  background-color: #212121;
  color: #ffffff;
}

.form-lbl {
  font-size: 15px;
}

.file-drop-area {
  border: 5px dashed #d1d1d1;
  text-align: center;
  border-radius: 10px;
  position: relative;
  background-color: #f7f7f7;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-drop-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
}

.file-drop-content p {
  font-size: 13px;
}

.file-drop-content span {
  color: gray;
  font-size: 11.5px;
}

.btn {
  font-weight: bold;
  border: 1px solid rgba(128, 128, 128, 0.534);
}
